<h1>Hi <%= @user.user %> </h1>

Se ha realizado el siguiente comentario

Producto: <%= @product.name %> ,calificacion: <%= @comment.qualification%> , Comentario: <%= truncate(@comment.content, length: 30) %> 

<p>Att</p>
<p>Yummy Team </p>